.background {
  background-color: #1D1B1B;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #EC4D37;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: larger;
  font-weight: 700;
  text-transform: uppercase;
}

button {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 185px;
  height: 50px;
}
button:hover{
  font-weight: 600;
  box-shadow: 3px 3px 3px  #e74c3c;
}

.caution{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e74c3c;
  text-align: center;
  width: 100%;
  font-size: larger;
  font-weight: 700;
  text-transform: uppercase;
}




